@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.separador{
    width: 100%;
    height: 20px;
    background-color: #000;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #fefefe;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover {
    background-color: #EC268F;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #EC268F;
}

.estrella {
    padding: 10px 0;
}

.estrella i {
    font-size: 0.8rem;
    color: goldenrod;
}

/*-----------NAVBAR-----------*/

.etiqueta__nav {
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #292929;
    height: 80px;
    color: #fff;
    z-index: 999;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
}

.hamburguesa {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.nav__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    padding: 0;
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all .8s ease;
}

.nav__item a {
    transition: all .8s ease;
    text-decoration: none;
    color: #fff;
}

.nav__iconos li{
    margin-left: 30px;
    list-style:none;
}
.nav__iconos a{
    color: transparent;
}

.nav__item:hover {
    color: #e065a7;
}
.nav__item a:hover {
    color: #e065a7;
}

.nav__ul {
    text-decoration: none;
    margin: 0;
}
.nav__iconos {
    text-decoration: none;
    margin: 0;
}

.nav__label,
.nav__input {
    display: none;
}


@media(max-width: 1000px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .hamburguesa{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #292929;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 50% 50%);
        transition: clip-path 1s ease-in-out;
    }
    .nav__ul { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav__iconos li{
        padding: 20px;
        margin: 0;
        margin-top: 40px;
        list-style:none;
    }

    .nav__input:checked+.hamburguesa {
        clip-path: circle(100% at center);
    }
}

/*----------- FIN NAVBAR-----------*/

#home {
    background-image: url(../imagenes/wine-1543170_1920.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: #EC268F;
}

/* Regiones */

.card img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card .card-body:hover {
    cursor: pointer;
    background-color: rgba(246, 144, 144, 0.301)
}

.card .card-body button {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #EC268F;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #EC268F;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

.card .card-body button:hover {
    color: #d8d8d8;
    border-bottom: 1px solid #d8d8d8
}

.card:nth-child(1) .card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* Productos */

.producto {
    cursor: pointer;
    margin-bottom: 2rem;
}

.producto img {
    transition: 0.3s all;
}

.producto:hover img {
    opacity: 0.7;
}

.producto .buy-btn {
    background: #EC268F;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.producto:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

#banner {
    background-image: url(../imagenes/fondovinoCorchos.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4 {
    color: #d8d8d8;
}

#banner h1 {
    color: #ffffff;
}

#banner button {
    background-color: #EC268F;
}

/*-----------FOOTER----------*/

.footer {
    bottom: 0;
    width: 100%;
    background: #292929;
    color: #000;
}

.footer .footer-a {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.footer-columna-1 h3 {
    margin-top: 20px;
}

.footer-columna-2 h3 {
    text-align: center;
}

.footer-columna-2 ul {
    list-style: none;
    text-align: center;
}

.footer-columna-2 ul li a {
    text-decoration: none;
    color: white;
}


.footer-columna-3 h3 {
    text-align: center;
}

.footer-columna-3 .redes {
    text-align: center;
    padding: 30px;
}

.footer-columna-3 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all 300ms ease;
}

.footer-columna-3 .redes a:hover {
    background-color: #EC268F;
}

.footer-b {
    background-color: #1a1a1a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/*-----------FIN FOOTER-----------*/









/*-----------RESPONSIVE-----------*/



@media screen and (max-width: 900px) {
    .formulario {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .footer-a {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-columna-1 {
        text-align: center;
    }
}